/*
    - Fonts
    - General CSS
    - Header
    - Hero
    - Search
    - Listings
    - Footer
    - Responsive CSS
    

    */
    a{
        color: #000;
        font-size: 15px;
    }
    a:hover{
        text-decoration: none;
        color: #000;
    }
    ul>li{
        list-style: none;
    }
.text-center{
    text-align: center;
}
    /*  Fonts  */
    @font-face {
        font-family: 'lato-bold';
        src: url('../fonts/lato-bold.eot');
        src: url('../fonts/lato-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-bold.woff') format('woff'),
        url('../fonts/lato-bold.ttf') format('truetype'),
        url('../fonts/lato-bold.svg#LatoBold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'lato-regular';
        src: url('../fonts/lato-regular.eot');
        src: url('../fonts/lato-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/lato-regular.woff') format('woff'),
        url('../fonts/lato-regular.ttf') format('truetype'),
        url('../fonts/lato-regular.svg#LatRegular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'p22_corinthia';
        src: url('../fonts/p22_corinthia.eot');
        src: url('../fonts/p22_corinthia.eot?#iefix') format('embedded-opentype'),
        url('../fonts/p22_corinthia.woff') format('woff'),
        url('../fonts/p22_corinthia.ttf') format('truetype'),
        url('../fonts/p22_corinthia.svg#P22Corinthia') format('svg');
        font-weight: normal;
        font-style: normal;
    }
    /*  General CSS  */
    body{
        background: #fff;
    }
.well-lg{
    margin-bottom: 100px;
    background: #fff;
}
.seperate{
    background: #e9e9e9;
    height: 10px;
}
#see-more{
    float: right;
    text-decoration: underline;
}
a#see-more:hover{
    color: #29487d;
}
    .wrapper{
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
    }

    h1, h2, h3, h4, h5 ,h6{
        color: #626262; 
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
    }

    h1              { font-size: 2em; margin: .67em 0 }
    h2              { font-size: 1.5em; margin: .75em 0 }
    h3              { font-size: 20px; margin: .83em 0 }
    h5              { font-size: .83em; margin: 1.5em 0 }
    h6              { font-size: .75em; margin: 1.67em 0 }

    .clearfix:before,  
    .clearfix:after {  
        content: " ";  
        display: table;  
    }  
    .clearfix:after {  
        clear: both;  
    }  
    
    .clearfix {  
        *zoom: 1;  
    }
#error{
    margin-top: 10px;
    color: red;
}
    /*  Header Section  */

    header{
        width: 100%;
        height: 60px;
        background: #fff;
    }
    .navbar {
        margin-bottom:0px !important;
        border-radius: 0px !important;
    }
    .navbar-default{
        background: #fff !important;
        border-color:#fff !important;
    }
    a.logo img{
        margin-top: 6px;
        float: left;
        width: 130px;
        height: 40px;
        vertical-align: middle;
    }

    header a.hamburger{
        text-decoration: none;
        display: none;
        float: right;
        margin-top: 41px;
        width: 24px;
        height: 19px;
        background: url('../img/hamburger_icon.png') no-repeat;
    }

    header a.hamburger.opned{
        width: 19px;
        background: url('../img/close_menu_icon.png') no-repeat;
    }


    header nav{
        float: right;
        opacity: 1;
    }


    header nav ul{
        margin-top: 20px;
        list-style: none;
        overflow: hidden;
        float: left;
    }

    header nav ul li{
        float: left;
        margin-left: 50px;
    }
    ul#menu-header>li:hover{
        list-style: none !important;
    }
    ul#menu-header>li:hover a{
        color: lightgray;
        text-decoration: none;
    }
    header nav ul li a,
    header nav .login_btn{
        text-decoration: none;
        color: #555;
        font-family: "lato-regular", Helvetica, Arial, sans-serif;
        font-size: 16px;
        letter-spacing: 1px;

    }

    header nav .login_btn{
        float: right;
        margin: 8px 0 0 50px;
        padding: 10px 30px 11px 30px;
        border: 2px solid #ffffff;

        transition: background .1s linear;
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -o-transition: background .1s linear;
    }

    header nav .login_btn:hover{
        background: #9cb2d6;
        color: #1c3655;
    }

  #menu-info ul
  {
      list-style:none;
  }
  #menu-info ul li
  {
     /* float:left;*/
      position:relative;
  }
  #menu-info ul li a
  {
      display:block;
      white-space:pre;
      font-size: 16px
  }
  #menu-info ul>li>ul>li{
    border-bottom: 1px solid #9b9ea0;
  }
  #menu-info ul>li>ul>li>a{
    padding: 10px 20px;
    color: #000;
  }
  #menu-info ul>li>ul>li>a:hover{
    background: #fff;
    color: #000;
    border-top:none;
  }
  #menu-info ul>li>a:hover
  {
      color:#000;
      border-top: 1px #f0101a solid;
  }
  .sub-menu-info {
    width: 180px;
    top: 100%;
    left:0;
    z-index:1000;
    display: none;
    position: absolute;
    background: #221F25;
}
/*avatar user*/
.sign-in-user-avatar{
    height: 100%;
    display: inline-block;
    width: 50px;
    margin-top: -45px;
    margin-bottom: -20px;
}
.sign-in-user-avatar .user-avatar{
        position: absolute;
    margin-top: -40px;
    margin-left: 10px;
        display: inline-block;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    max-height: 40px;
    max-width: 30px;
}
div#menu-info ul li:hover .sub-menu-info
{
  display:block;
}
#menu-info li {
 position: relative;
}
#menu-info ul ul li
{
  float:none;
  border-right:none;
}
.search-group ul>li{
    list-style: none;
}
.search-group ul>li input{
    width: 100%;
}
/*  Hero Section  */

.hero{
    width: 100%;
    height: 400px;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.hero .caption{
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -105px;
    z-index: 10;
}

.hero .caption h2{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    position: relative;
    display: block;
    margin-left: 15px;
}

.hero .caption h3{
    color: #fff;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 14px;
    margin: -15px 0 0 25px;
    left: 1px;
}
.hero .main-menu {
    width: 100%;
    position: absolute;
    top: 80%;
    z-index: 10;
}
#myCarousel .carousel-inner .item img{
    height: 450px;
    width: 100%;
}
.main-menu nav>ul>li{
    float: left;
    padding: 7px 12px;
}
.main-menu nav>ul>li:hover{
    background: #fff;
    transition: 0.3s;
}
.main-menu nav>ul>li>a{
    font-size: 16px;
    color: #fff;
}
.main-menu nav>ul>li:hover a{
    color: #000;
    text-decoration: none;
}











/*  Search Section  */

.form-inline .form-control{
    width: 100% !important;
}
.caption .search-widget{
    background: rgba(0,0,0,.65);
    padding: 20px 30px;
    border-radius: 4px;
}
.search-widget{
    margin: 50px auto 50px;
    
}
.search-companies .title{
    margin-bottom: 20px;
}
.title h1 {
    color:  #29487d;
}
.search-widget div[class*=col-sm] {
    padding: 2px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
}
.search-widget input {    
    height: 50px;
    font-size: 18px !important;
    padding: 0px 40px;
    border-radius: 0px;
}
.search-widget button{
    border-radius: 0px;
}
.search-widget .btn-search{
    height: 50px;
    width: 100%;
    background: #29487d;
    border-color: #29487d;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.search-widget .keyword-search .fa-search, 
.search-widget .location-search .fa-map-marker{
    position: absolute;
    padding: 16px;
    color: #ccc;
}



/*list cities*/
.location-search ul.dropdown-menu{
        left: 1px;
    padding: 5px 0;
    width: 241px;
    top: 48px;
    border-radius: 0px;
}

.location-search ul.dropdown-menu>li:hover a{
    background: #f0101a;
    color: #fff;
}
.location-search ul.dropdown-menu>li>a{
    color: #555;
}
.list-cities ul{
    display: inline-block;
    position: relative;
}
.list-cities ul>li{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 253px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.list-cities:hover ul{
    display: block;
}
/*  listings section  */
.main{
    background: #fff;
}
.listings{
    padding: 70px 0;
}

.listings ul.properties_list{
    list-style: none;
    overflow: hidden;
}

.listings ul.properties_list li{
    display: block;
    width: 30.90909090909091%;
    height: auto;
    position: relative;
    float: left;
    margin: 0 3.636363636363636% 3.636363636363636% 0;
}

.listings ul.properties_list li img.property_img{
    width: 100%;
    height: auto!important;
    vertical-align: top;
}


.listings ul.properties_list li .price{
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 20px;
    background: #ffffff;
    color: #514d4d;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;

    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}


.listings ul.properties_list li:nth-child(3n+0){
    margin-right: 0;
}
.listings ul li .property_details{
    padding: 2.941176470588235% 5.882352941176471% 4.117647058823529% 5.882352941176471%;
    border-bottom: 1px solid #f2f1f1;
    border-left: 1px solid #f2f1f1;
    border-right: 1px solid #f2f1f1;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings ul li:hover .property_details{
    border-bottom: 1px solid #95badf;
    border-left: 1px solid #95badf;
    border-right: 1px solid #95badf;
}

.listings ul li .property_details h1{
    color: #666464;
    font-family: "lato-bold", Helvetica, Arial, sans-serif;
    font-size: 16px!important;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 28px;
}

.listings ul li .property_details h1 a{
    text-decoration: none;
    color: #666464;
}

.listings ul li .property_details h2{
    color: #9d9d9d;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    line-height: 26px;
    font-weight: normal;
}
.listings ul>li span.address-companies{
    color: #333;
}

.listings .more_listing{
    display: block;
    width: 100%;
    text-align: center;
    margin: 84px 0 22px 0;
}

.listings .more_listing_btn{
    text-decoration: none;
    padding: 20px 40px;
    border: 2px solid #bfd9f1;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    color: #afcbe6;
    font-family: "lato-regular", Helvetica, Arial, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;

    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.listings .more_listing_btn:hover{
    color: #a0c3e5;
    border: 2px solid #a0c3e5;    
}

.list-companies .col-md-4 :hover .image {
  opacity: 0.8;
}
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
/*companies*/
.list-companies{
    padding-bottom: 15px;
}
.search-companies{
    background: #eee;
}
#result-search-company{
    width: 400px;
    margin-left: 20px;
    border: 1px solid silver;
    background: #fff;
}
ul.search-company li{
    padding: 7px 5px;
}
#result-search-company ul.search-company >li:hover a{
    color: red;
}
#result-search-company a{
    padding: 10px 20px;
    color: grey;
    font-size: 17px;
}
/*result search jobs*/
#result-search-job{
    width: 400px;
    margin-left: 20px;
    border: 1px solid silver;
    background: #fff;
}
ul.search-job li{
    padding: 7px 5px;
}
#result-search-job ul.search-job >li:hover a{
    color: red;
}
#result-search-job a{
    padding: 10px 20px;
    color: grey;
    font-size: 17px;
}
.company_banner >img{
    height: 180px;
    width: 100%;
}
.company_info{
    padding-left: 15px;
    padding-right: 15px;
    background: #fff;
}
.company_header{
    display: flex;
}
.company_logo{
    position: relative;
    top: -16px;
    padding: 4px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #D2D2D2;
    border-radius: 2px;
}
.company_name{
    display: inline-block;
    position: relative;
    top: 10px;
    margin-left: 10px;
    font-size: 17px;
    font-weight: 600;
}
.company_footer{
    margin-top: 14px;
    margin-bottom: 14px;
    font-size: 15px;
    padding-bottom: 10px;
}
.company_footer .company_city{
    float: right;
}
.company_footer .fa{
    background: #11C1F7;
    padding: 2px 3px;
    color: #fff;
    border-radius: 2px;
}
.company_desc{
    font-size: 14px;
    min-height: 39px;
}







/*footer*/
#myFooter {
    background-color: #373a48;
    color:white;
}

#myFooter .footer-copyright{
    background-color: #383737;
    padding-top:3px;
    padding-bottom:3px;
    text-align: center;
}

#myFooter .footer-copyright p{
    margin:10px;
    color: #ccc;
}

#myFooter ul{
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;

}

#myFooter h5{
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a{
    color:#d2d1d1;
    text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus{
    text-decoration: none;
    color:white;
}

/*#myFooter .myCols{
    text-align: center;
}*/


#myFooter .social-networks a{
    padding: 5px;
    transition: 0.2s;
}
#myFooter .social-networks a>img{
    width: 30px;
}
#myFooter .social-networks a:hover{
    text-decoration: none;

}

#myFooter .facebook:hover{
    color:#0077e2;
}

#myFooter .google:hover{
    color:#ef1a1a;
}

#myFooter .twitter:hover{
    color: #00aced;
}

@media screen and (max-width: 767px){
    #myFooter {
        text-align: center;
    }
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

/*đăng nhập*/
.form-login{
    margin-top: 50px;
}
.login_header .title h1, .login_header .title h4{
    font-weight: 500
}
.login_content h4{
    margin-top: 10px;
    margin-bottom: 15px;
}
.login_content .btn-login{
    width: 100%;
    background: #f0101a;
    border-color: #f0101a;
}
.social{
    padding: 25px 0;
}
.register h4 a:hover{
    text-decoration: underline !important;
    color: #f0101a !important;
}



/*contact page*/

/*profile page*/
.manager-account{
    background: #eee;
}
.breadcrumb{
    float: right;
    background-color: #eee;
    border-radius: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.breadcrumb li  a:hover{
    color: #f0101a;

}
.avatar_profile img{
    border-radius: 100%;
    width: 300px;
}
.title-profile h2{
    font-size: 40px;
}
.wrapper-profile{
    padding-bottom: 30px;
}
/*  responsive css */


@media (max-width:1500px){
    .hero{
        height: 400px;
    }
}


@media (max-width: 1150px){
    .wrapper{
        padding: 0 40px;
        max-width: 1020px;
    }
    .search .advanced_search .arrow{
        top: -8px;
        right: 46px;
    }

    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date,
    .search .advanced_search #min_price,
    .search .advanced_search #max_price{
        width: 46.27272727272727%;
        padding: 0 1.818181818181818%;
    }

    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date{
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #keywords{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }

    footer .footer > ul > li{
        margin-right: 5.454545454545455%;
    }

    footer .footer > ul > li.links{
        width: 17.90909090909091%;
    }

    footer .footer > ul > li.about{
        width: 29.72727272727273%;
    }
    footer .footer ul.tag>li{
        text-align: center !important;
    }
    footer .footer h3{
        text-align: center;
    }
    footer .copyrights ul>li{
        text-align: center;
    }
}


@media (max-width:800px){
    .hero{
        height: 600px;
    }

    .hero .caption{
        width: 92.72727272727273%;
        padding: 0 3.636363636363636%; 
    }

    .hero .caption h3{
        margin: 0;
        left: 0;
    }
    header a.hamburger{
        display: block;
    }

    header nav{
        position: absolute;
        display: none;
        width: 92.72727272727273%;
        top: 95px;
        left: 3.636363636363636%;
        float: none;
        z-index: 20;
        overflow: hidden;
        background: #fff;
        border-top: 5px solid #bfd9f2;

    }
    header nav.active{
        display: block;
    }

    header nav .login_btn{
        float: none;
        display: inline-block;
        width: 100%;
        border: 0;
        margin: 0;
        padding: 20px 0;
        text-align: center;
        background: #f2f3f3;
    }

    header nav ul{
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 0;
    }

    header nav ul li{
        display: block;
        width: 100%;
        float: none;
        margin-left: 0;
    }
    header nav ul li a{
        display: block;
        padding: 25px 0;
        border-bottom: 1px solid #f2f3f3;

        transition: background .2s linear;
        -webkit-transition: background .2s linear;
        -moz-transition: background .2s linear;
        -o-transition: background .2s linear;
    }

    header nav ul li a:active{
        background: #f2f3f3;
    }

    header nav ul li a,
    header nav .login_btn{
        color: #1c3655;
    }

    header nav .login_btn:hover{
        background: #eaebeb;
    }

    header nav ul li:last-child{
        border: 0;
    }
    .sub-menu-info{
        position: relative !important;
        z-index: 100 !important;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        position: relative !important;
        z-index: 10 !important;
    }
    .listings ul.properties_list li{
        width: 46.36363636363636%;
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(3n+0){
        margin: 0 7.272727272727273% 7.272727272727273% 0;
    }

    .listings ul.properties_list li:nth-child(2n+0){
        margin-right: 0;
    }

    footer .footer > ul > li{
        width: 29.6969696969697%!important;
        margin-right: 5.454545454545455%;
        margin-bottom: 100px;
        text-align: center;
    }

    footer .footer > ul > li:nth-child(3){
        margin-right: 0;
    }

    footer .footer > ul > li.links li a{
        text-align: center;
    }

    footer > ul.tag > li{
        text-align: center;
        float: none;
        display: inline;
        margin-right: 100%;
        overflow: hidden;
        border-top: 1px solid #82abd4;
    }
    footer .footer ul.tag>li{
        text-align: center !important;
    }
    footer .footer h3{
        text-align: center;
    }
    footer .copyrights ul>li{
        text-align: center;
    }
    .job-search #main-job-list{
        width: 100% !important;
    }
}


@media (max-width:700px){

    .hero{
        background: grey;
        height: 500px;
    }
    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date,
    .search .advanced_search #min_price,
    .search .advanced_search #max_price{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
        border-bottom: 1px solid #aac8e4;
    }

    .search .advanced_search #check_in_date,
    .search .advanced_search #check_out_date{
        background: url('../img/calendar_icon.png') no-repeat;
        background-position: 95.08840864440079% 50%;
    }

    .search .advanced_search #keywords{
        width: 96.36363636363636%;
        padding: 0 1.818181818181818%;
    }

    .search .advanced_search .search_fields{
        border-bottom: 0;
    }

    .search .advanced_search .field_sep{
        display: none;
    }
    .search-widget{
        margin: 20px auto 20px;
    }
    .navbar-collapse{
        padding-right: 0px !important;
    }
    .job-search #main-job-list{
        width: 100% !important;
    }
}


@media (max-width:500px){
    .hero{
        height: 500px;
    }
    .job-search #main-job-list{
        width: 100% !important;
    }
    .hero .caption h2{
        font-size: 20px;
    }

    .hero .caption h3{
        font-size: 16px;
    }
.navbar-collapse{
        padding-right: 0px !important;
    }
    .search #search{
        width: 83%;
    }
    .search-widget{
        margin: 0 auto;
    }
    .listings ul.properties_list li{
        width: 100%;
        margin-bottom: 60px!important;
    }

    .listings ul.properties_list li:last-child{
        margin-bottom: 0!important;
    }


    .listings ul.properties_list li:nth-child(3n+0),
    .listings ul.properties_list li:nth-child(2n+0){
        margin:0;
    }

    .listings .more_listing_btn{
        display: block;
        width: 100%; 
        padding-left: 0!important;
        padding-right: 0!important;
    }

    footer .footer > ul > li.links,
    footer .footer > ul > li.about{
        float: none;
        width: 100%!important;
        margin-right: 0;
        margin-bottom: 60px;class="about"
        padding-bottom: 60px;
    }
    .footer ul.tag>li a{
        text-align: center;
    }
    footer .footer > ul > li:last-child{
        padding-bottom: 0;
    }

    footer .footer > ul > li.links{
        border-bottom: 1px solid #82abd4;
    }
    footer .copyrights ul>li{
        text-align: center;
    }
}
/*back to top button*/
.cd-container {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #29487d url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 30px;
  }
}
/*all jobs*/
.all-jobs{
    background: #eee;
}
.job-search{
    margin-left: -15px;
}
/*.job-search #left-column{
    width: 25%;
}
.job-search #main-job-list{
    width: 75%;
}*/
.container-fluid{
    margin-right: auto;
    margin-left: auto;
    padding-left: 5px;
    padding-right: 5px;
}
#job-search #left-column h2{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
   /* border-bottom: 1px rgba(221,221,221,.66) solid;*/
    margin: -2px -16px 16px -16px;
    padding-left: 16px;
}
.box-xs{
    padding: 16px;
}
.box{
    background: #fff;
    margin-bottom: 15px;
    border: 0;
}
#left-column .facet h5 {
    cursor: pointer;
    margin: 20px 0;
    text-transform: uppercase;
    color: #555;
    font-size: 14px;
    font-weight: 400;
}
#left-column .facet{
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: 1px #ddd solid;
}
.box ul>li{
    padding: 10px 0px;
}
.box ul>li span{
    padding: 5px 10px;
}
.edition-filter >p{
    padding: 5px 10px;
    border: 1px solid #eee;
    margin-bottom: 5px;
}
.job-search__top-nav{
    padding: 0px 30px
}
#main-job-list #job-list{
    background: #e5f8fe;
    margin-bottom: 10px;
}
.m-b-none{
    margin-bottom: 0;
}
#job-list .job-item .logo{
    margin: auto;
    text-align: center;
    border: 0!important;
}
#job-list .job-item{
    border-bottom: 1px solid #eceff1;
    padding: 20px 30px 20px 15px;
    transition: background-color .3s;
}
#job-list .job-item .job-item-info h3{
    display: inline;
    position: relative;
}
#job-list .job-item .job-item-info .bold-red a{
    color: red;
    font-weight: bold;
    font-size: 20px;
}
#job-list .job-item .job-item-info .company{
    color: #29487d;
    font-size: 15px;
    margin-top: 5px;
}
.job-search__location{
    color: #aaa;
}
span.separator{
    display: inline-block;
    margin: 0 10px;
    font-weight: 100;
    color: #ccc;
}
.description-job h3{
    color: grey;
    font-size: 16px;
    
}
.description-job{
    padding:5px 0px;
}
.salary-job{
    color: #29487d;
}
.salary-job:hover a{
    color: #f0101a;
}
.tag-list{
    padding-top: 5px;
}
.tag-list .job__skill{
    transition: all 0.2s ease;
    margin: 0 10px 0 0;
    padding: 4px 5px;
    background: transparent;
    border: 1px solid #D2D3D3;
    color: #575656;
    font-size: 12px;
    font-weight: normal;
    text-decoration: none;
    line-height: 100%;
    display: inline-block;
}
.tag-list a.job__skill:hover{
    color: #29487d;
    border: 1px solid #29487d;
}
#job-list .job-item .fa-heart-o{
    cursor: pointer;
    color: #29487d;
    font-size: 20px;
    float: right;
}
#job-list .job-item i.fa-heart-o:hover{
    color: #e4163a;
}
/*hoverable button social*/
/* Style the links inside the sidenav */
#mySidenav{
    float: left;
}
#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    left: -85px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 130px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: black; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}
#mySidenav a>img{
    width: 20px;
    border-radius: 4px;
}
#mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
     color: #fff;
}

/* The about link: 20px from the top with a green background */
#facebook {
    top: 520px;
    border: 1px solid #4267b2;
}

#twitter {
    top: 580px;
    border:1px solid #1da1f2;
}

#google {
    top: 640px;
    border:1px solid #dc493c;
}

#linkedin {
    top: 700px;
    border:1px solid #0077b5;
}
#linkedin img{
    margin-left: 10px;
}
#google img{
    margin-left: 17px;
}
#twitter img{
    margin-left: 22px;
}
#mySidenav >a#twitter:hover{
    color: #1da1f2;
}
#mySidenav >a#facebook:hover{
    color: #5d82cc;
}
#mySidenav >a#google:hover{
    color: #dc493c;
}
#mySidenav >a#linkedin:hover{
    color: #0077b5;
}


